.customInputNew {
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 10px;
}
.customInputNew input {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  padding: 0px;
}
.customInputNew {
  width: 100%;
  border-radius: 0px !important;
}

.customInputNewError {
  border: 1px solid #f73030 !important;
}

.customInputNewErrorMessage {
  color: #f73030;

  font-size: 12px;
}
.phoneNumberError {
  color: #f73030;

  font-size: 12px;
  margin-top: 5px;
}

.mb-30 {
  margin-bottom: 15px !important;
}
.custom-phone-input .react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: unset !important;
}

.customInputNewLabel {
  font-style: normal;
  font-weight: bold;

  line-height: 35px;
  letter-spacing: 2px;
  color: #000000;
  white-space: nowrap;
}
.custom-phone-input {
  border: 1px solid #000000 !important;
  border-radius: 15px !important;
}
.custom-phone-input input,
.custom-phone-input input:focus {
  height: 50px !important;

  padding-left: 55px !important;
  background-color: unset !important;
  color: #000000 !important;
  width: unset !important;
}
.custom-phone-input .flag-dropdown {
  border-right: 1px solid #000000 !important;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.custom-phone-input .react-tel-input .selected-flag {
  padding: 15px !important;
}
.custom-phone-input .react-tel-input .selected-flag {
  width: 45px !important;
}
.custom-phone-input .react-tel-input .form-control {
  border: unset !important;
}
.profileImageInSettings {
  object-fit: contain;
  box-sizing: border-box;
  height: 165px;
  width: 165px;
  border-radius: 100px;
  margin-bottom: 0px;
  text-align: center;
}

.settingsProfileImge {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.settingsProfileImageAlign {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
}
.uploadButtonForCoverImage {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-decoration-line: underline;
  color: #5e9c9c;
}
.uploadButtonForImage {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-decoration-line: underline;
  color: #5e9c9c;
  margin-left: 66px;
}
.mt-30 {
  margin-top: 30px !important;
}
.profileSaveButton,
.profileSaveButton:hover {
  background: #5e9c9c !important;
  border: 2px solid #5e9c9c !important;

  backdrop-filter: blur(25px);
  border-radius: 15px;

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;

  letter-spacing: 2px;
  color: #f3f3f3;

  height: 50px;
  justify-content: center;
}
.autoPlaceSettings {
  border: 1px solid #000000 !important;
  border-radius: 15px !important;
  height: 50px;
}
.autoPlaceSettings input {
  padding: 15px 20px 15px 25px;
  height: 50px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
.mb-28 {
  margin-bottom: 28px !important;
}
.businessCoverImageSettings {
  object-fit: cover;
  box-sizing: border-box;
  height: 184px;
  width: 100%;
  margin-bottom: 0px;
  text-align: center;
  border-radius: 15px;
}
.editButtonCoverImage {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-decoration-line: underline;
  color: #5e9c9c;
  margin-top: 30px;
  cursor: pointer;
}
.coverImageForBusiness {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 15px;
}
.coverImageDimensions {
  width: 337px;
  height: 165px;
}
.noBusinessCoverImage {
  width: 100%;
  height: 100%;
  border: 4px solid #65d2d2;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.addIconBusinessCover {
  color: #5e9c9c;
}
.profileCancelButton,
.profileCancelButton:hover {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-decoration-line: underline;
  color: #5e9c9c !important;
  background-color: transparent !important;
  border-color: unset !important;
  border: none !important;
}
.customInputNewDisabled {
  pointer-events: none !important;
  opacity: 0.5 !important;
}
.forgotPassword {
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .customInputNew {
    height: 40px;
  }
}
