.dashCard {
  align-items: center;
  padding: 20px;
  border: 2px solid #c7c7c7;
  border-radius: 15px;
  display: flex;
}
.dashPic {
  border-radius: 130px;
  width: 200px;
}
.infoSection {
  padding-left: 30px;
  font-size: 20px;
}
.infoSection div {
  padding: 10px 0px;
}
